:root {
  --text-column-width: 800px;
  --wide-column-width: 1200px;
  --navlink-font-size: 16px;
  --navlink-sep-height: 20px;
  --logo-height: 40px;
  --logo-padding: 5px;
}
.logo {
    height: var(--logo-height);
    padding: var(--logo-padding);
}
:root {
  --color-background-0: white;
  --color-background-1: rgb(241, 241, 241);
  --color-text: black;
  --color-link: darkblue;
  --color-divider: darkgrey;
}
.logo {
  content: url("/imgs/logo-black.png");
}
  
@media (prefers-color-scheme: dark) {
  :root {
    --color-background-0: rgb(17, 17, 17);
    --color-background-1: rgb(24, 24, 24);
    --color-text: rgb(247, 247, 247);
    --color-link: lightblue;
    --color-divider: darkgrey;
  }
  .logo {
    content: url("/imgs/logo-white.svg");
  }
}

/*
@keyframes scroll-in {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100;
  }
}
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  padding: 0px;
  margin: 0px;
  background-color: var(--color-background-0);
  color: var(--color-text);
}


div {
  animation-name: scroll-in;
  animation-duration: .8s;
}


h1 {
  text-align: center;
  margin-top: 80px;
}


hr {
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
}

a {
  color: var(--color-link);
}

footer {
  margin: 10px 0px;
}

.centering {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-layout {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 40px;
  grid-template-columns: 100%;
}

.main-layout > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 45vh;
}

.main-layout > div:nth-child(even) {
  background-color: var(--color-background-1);
}

.text-column {
  max-width: var(--text-column-width);
  width: 100%;
  margin: 0 8px;
}

.wide-column {
  max-width: var(--wide-column-width);
  width:100%;
  margin: 0 8px;
}


.banner {
  width: 100%;
  height: 30vh;
  max-height: 350px;
  background-image: url(/imgs/stock/server-room.jpg);
  background-size: cover;
  background-position: center;
}


.banner-img {
  object-fit: cover;
  display: block;
}

.sub-nav-link {
  font-size: var(--navlink-font-size);
  line-height: 40pt;
  color: var(--color-text);
  text-decoration: none;
  font-weight: normal;
}

.sub-nav-link:hover {
  color: var(--color-link);
}

.sub-nav-link-divider {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: calc((var(--navlink-font-size) - var(--navlink-sep-height)));
  height: var(--navlink-sep-height);
  width: 2px;
  background-color: var(--color-divider);
}



.burger-menu-switch {
  padding: var(--logo-padding);
  font-size: var(--logo-height);
  height: var(--logo-height);
  width: var(--logo-height);
  text-align: center;
  cursor: pointer;
  fill: var(--color-text);
}

/*
.burger-menu-switch:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: var(--color-text);
  box-shadow: 
    0 0.25em 0 0 var(--color-text),
    0 0.5em 0 0 var(--color-text);
}*/



.burger-menu{
  position: absolute;
  display: none;
  right: 0px;
  top: calc(var(--logo-height) + var(--logo-padding)*2);
  background-color: var(--color-background-1);
  list-style-type: none;
  margin: 0;
  padding: 15px;
}

.burger-menu > li > a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 20pt;
}

.burger-menu > li > a:hover {
  color: var(--color-link);
}

.widescreen-only {
  display: none;
}

@media screen and (min-width: 600px) {
  .widescreen-only {
    display: unset;
  }
  .smallscreen-only {
    display: none;
  }
}


#cover-img {
  width: 100%;
}


/*
Cases page elements
*/

.cases-container {
  margin: 80px 0px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

.case {
  background-color: var(--color-background-0);
  width: 500px;
  display: grid;
  grid-template: 
    "picture" max-content
    "text" max-content / 1fr;
  align-items: center;
}

.case > img {
  grid-area: picture;
  justify-self: center;
  width: 100%;
}

.case > p {
  padding: 70px 60px;
  grid-area: text;
}

.case-button-container {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
}

.case-button {
  background-color: var(--color-link);
  color: var(--color-background-0);
  line-height: 50px;
  width: 200px;
  text-align: center;
  justify-self: center;
}


/*
Team page elements
*/

.team-container {
  margin: 80px 0px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}

.team-member {
  width: 350px;
  display: grid;
  grid-template: 
    "picture" max-content
    "text" max-content / 1fr;
  align-items: center;
}

.team-member > img {
  grid-area: picture;
  justify-self: center;
  max-width: 100%;
}

.team-member > p {
  padding: 10px 60px;
  grid-area: text;
  text-align: center;
}

/*
Specific case style
*/

.case-elem {
  display: grid;
  column-gap: 20px;
  min-height: 500px;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "picture" "text";
}

@media (min-width: 600px) {
  .case-elem {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .case-elem {
    grid-template-areas: 
      "text picture";
  }
  /*
  .case-elem:nth-of-type(even) {
    grid-template-areas: 
      "picture text";
  }
  */
}

.case-elem > img {
  grid-area: picture;
  width: 100%;
}

.case-elem > p {
  grid-area: text;
}

.case-elem-alt {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 400px;
}

.case-elem-alt > p {
  max-width: var(--text-column-width);
}

.needs-some-space {
  padding: 120px 0;
}